.content {
	display: flex;
    border: 1px solid black;
    /*align-items: center;*/
}

h1{
    align-items: center;
    border: 1px solid black;
}

button{
    background-color: white;
    border: 0px;
}
/*
ボタン押した時色が変わる
*/
button:active {
    background-color: #ffbf00;
}

select{
    height: 40px;
    width: 350px;
}

select,option{
    font-weight: bold;/*太字（もっと太くしたいなら'bolder'）*/
    font-size: 15px;
}

#img_item{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.item_right{
    width: 50%;
    border: 1px solid black;
    text-align: right;
    
}
.item_left{
    width: 50%;
    border: 1px solid black;
    text-align: left;
}
.filter_icon{
    border: 1px solid black;
    height: 500px;
    width: 5%;
}
.main_body{
    border: 1px solid black;
    height: 500px;
    width: 95%;
}

#imageContainer {
    position: relative;
}
.image {
    position: absolute;
    width: 60px;  
    height: 80px; 
}