.content {
	display: flex;
    border: 1px solid black;
    /*align-items: center;*/
}

h1{
    align-items: center;
    border: 1px solid black;
}

button{
    background-color: white;
    border: 1px solid black;
}
/*
ボタン押した時色が変わる
*/
button:active {
    background-color: #ffbf00;
}

select{
    height: 40px;
    width: 350px;
}

select,option{
    font-weight: bold;/*太字（もっと太くしたいなら'bolder'）*/
    font-size: 15px;
}

footer{
    display: flex;
    position: fixed;
    top: 600px;
    left: 30%;
    width: 600px;
    height: 100px;
    border: 5px solid rgb(0, 0, 0);
    justify-content: center;
}

#img_item{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.item_right{
    width: 50%;
    border: 1px solid black;
    text-align: right;
    
}

.item_left{
    width: 50%;
    border: 1px solid black;
    text-align: left;
}

.filter_icon{
    border: 1px solid black;
    text-align: center;
    padding: 1em;
    height: 500px;
    width: 80px;
}

.main_body{
    border: 1px solid black;
    width: 10000px;
    height: 100%;
}

#imageContainer {
    position: relative;
}

.image {
    /*position: absolute;*/
    width: 80px;  
    height: 80px; 
}
.filterimage {
    width: 50px;  
    height: 50px; 
    border: 1px solid black;
}

#driveButton{
    width: 50px;  
    height: 50px;
}