#expand{
    transition: transform 0.3s ease;
    display: inline-block;
    border: 1px solid #000;
    padding: 20px;
    margin: 20px;

}
#expandDiv{
    display: flex;
    flex-direction: column;/*세로배치*/
    border: 1px solid #000;
}
/*
#expandButton{
    background: no-repeat;
}*/
#expandImg{
    height: 30px;
    width: 30px;
}